@page "/proveedores"

@inject IProveedoresServicio _proveedoresServicio

<h3>Proveedores</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="row">Nombre</th>
            <th scope="row">Direccion</th>
            <th scope="row">Localidad</th>
            <th scope="row">CodigoPostal</th>
            <th scope="row">Telefono</th>
            <th scope="row">TIPIVA</th>
            <th scope="row">CUIT</th>
            <th scope="row">Reparto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in listaProveedores)
        {
            <tr>
                <td scope="row">@a.Id</td>
                <td scope="row">@a.NombreC</td>
                <td scope="row">@a.DireccionC</td>
                <td scope="row">@a.LocalidadC</td>
                <td scope="row">@a.CodigoPostalC</td>
                <td scope="row">@a.TelefonoC</td>
                <td scope="row">@a.TIPIVAC</td>
                <td scope="row">@a.CUIT</td>
                <td scope="row">@(a.Reparto ? "Sí" : "No")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Proveedores proveedor { get; set; } = new Proveedores();
    private List<Proveedores> listaProveedores { get; set; } = new List<Proveedores>();

    protected override void OnInitialized()
    {
        listaProveedores = _proveedoresServicio.Listar();
    }
    private void AgregarProveedor()
    {
        _proveedoresServicio.AgregarProveedor(proveedor);
        proveedor = new Proveedores();
        listaProveedores = _proveedoresServicio.Listar();
    }
}
